// ╔═══════════════════════════════════════════════════════════════════════════╗
// ║ Project:     OmniCores-Registers                                          ║
// ║ Author:      Louis Duret-Robert - louisduret@gmail.com                    ║
// ║ Website:     louis-dr.github.io                                           ║
// ║ License:     MIT License                                                  ║{{header_warning_generated_file}}{#
// ╟───────────────────────────────────────────────────────────────────────────╢
// ║ Template:    This is a Jinja2 template using J2GPP and J2GPP extensions.  ║
// ║              It is rendered by the OmniCores-Registers tool.              ║#}
// ╟───────────────────────────────────────────────────────────────────────────╢
// ║ Description: Generated package for the register bank with info about each ║
// ║              register.                                                    ║
// ╚═══════════════════════════════════════════════════════════════════════════╝



{% filter restructure %}
package {{register_bank.name}}__register_bank__package;



  {§ spacing 3 §}



  {%- filter align %}
  {%- filter reindent(1) %}
    {%- for kind, entry in register_bank.get_register_macros_ordered() %}
      {%- if kind == 'array_meta' %}
        localparam integer §       § register__{{entry.prototype.hierarchical_name}}__length § = § {{entry.length}}; §§
        localparam integer §       § register__{{entry.prototype.hierarchical_name}}__stride § = § {{entry.stride}}; §§
        localparam logic § [31:0] §§ register__{{entry.prototype.hierarchical_name}}__base   § = § 32'h{{entry.address|hexadecimal}}; §§
      {% else %}
        {%- set register = entry %}
        localparam logic § [31:0] §§ register__{{register.hierarchical_name}}__address § = § 32'h{{register.address|hexadecimal}}; §§
        localparam integer §       § register__{{register.hierarchical_name}}__width   § = § {{register.width}}; §§
        localparam logic § [31:0] §§ register__{{register.hierarchical_name}}__mask    § = § 32'h{{(2**register.width-1)|hexadecimal}}; §§
        {%- if register.reset_value is not none %}
          localparam logic § {{register.width|arr}} §§ register__{{register.hierarchical_name}}__reset_value § = § {{register.width}}'h{{register.reset_value|hexadecimal}}; §§
        {%- endif %}
        {% if register.fields %} {%- for field in register.fields %}
          localparam integer §       § register__{{register.hierarchical_name}}__{{field.name}}__offset § = § {{field.offset}}; §§
          localparam integer §       § register__{{register.hierarchical_name}}__{{field.name}}__width  § = § {{field.width}}; §§
          localparam logic § [31:0] §§ register__{{register.hierarchical_name}}__{{field.name}}__mask   § = § 32'h{{(2**field.offset*(2**field.width-1))|hexadecimal}}; §§
          {%- if field.reset_value is not none %}
            localparam logic § {{field.width|arr}} §§ register__{{register.hierarchical_name}}__{{field.name}}__reset_value § = § {{field.width}}'h{{field.reset_value|hexadecimal}}; §§
          {%- endif %}
        {% endfor %} {%- endif %}
      {%- endif %}
    {%  endfor %} {#- macros #}
  {%- endfilter %} {#- reindent #}
  {%- endfilter %} {#- align #}



  {§ spacing 3 §}



endpackage
{% endfilter %}
