// ╔═══════════════════════════════════════════════════════════════════════════╗
// ║ Project:     OmniCores-Registers                                          ║
// ║ Author:      Louis Duret-Robert - louisduret@gmail.com                    ║
// ║ Website:     louis-dr.github.io                                           ║
// ║ License:     MIT License                                                  ║{{header_warning_generated_file}}{#
// ╟───────────────────────────────────────────────────────────────────────────╢
// ║ Template:    This is a Jinja2 template using J2GPP and J2GPP extensions.  ║
// ║              It is rendered by the OmniCores-Registers tool.              ║#}
// ╟───────────────────────────────────────────────────────────────────────────╢
// ║ Description: Generated C header file for the register bank with structs   ║
// ║              of the register map.                                         ║
// ╚═══════════════════════════════════════════════════════════════════════════╝



{% filter restructure %}
#ifndef _{{register_bank.name|upper}}__REGISTER_BANK__STRUCTS_HEADER_
#define _{{register_bank.name|upper}}__REGISTER_BANK__STRUCTS_HEADER_

#define _STRUCT_ATTRIBUTES_ __attribute__((packed, aligned(4)))

#include <stdint.h>



{§ spacing 3 §}



{# Registers with fields #}
{%- for register in register_bank.registers %}
{%- if register.fields and register.is_software_accessible() %}
typedef union {
  volatile uint32_t _raw_;
  struct {
    {%- filter align %}
    {%- filter reindent(2) %}
      {%- for field in register.fields %}
        {%- if field.is_software_accessible() %}
          {%- if field.sw_struct_padding > 0 %}
            § uint32_t § § : § {{field.sw_struct_padding}}; §§
          {%- endif %}
          volatile {% if not field.is_software_writable() %}const{% endif %} § uint32_t § {{field.name}} § : § {{field.width}}; §§
        {%- endif %}
      {%- endfor %}
      {%- if register.sw_struct_fields_padding > 0 %}
        § uint32_t § § : § {{register.sw_struct_fields_padding}}; §§
      {%- endif %}
    {%- endfilter %} {#- reindent #}
    {%- endfilter %} {#- align #}
  };
} {{register_bank.name}}__{{register.hierarchical_name}};
{§ spacing 3 §}
{%- endif %}
{%- endfor %}



{§ spacing 3 §}



{# Register files #}
{%- set file_postorder = register_bank.get_files_postorder() %}
{%- if file_postorder %}
{%- for file in file_postorder %}
{%- if not file.sw_struct_empty %}
typedef struct {{register_bank.name}}__{{file.hierarchical_name}} {
    {%- filter reindent(1) %}
    {%- set reserved = Accumulator() %}
      {%- for component in file.components %}
        {%- if component.width is defined %}
          {%- if component.is_software_accessible() %}
            {%- if component.sw_struct_padding > 0 %}
              {§ align 1 §} uint32_t {§ align 2 §} _reserved{{reserved.increment_after()}}_[{{component.sw_struct_padding}}];
            {%- endif %}
            {%- if component.fields %}
              {{register_bank.name}}__{{component.hierarchical_name}} {§ align 2 §} {{component.name}};
            {%- else %}
              volatile {% if not component.is_software_writable() %}const{% endif %} {§ align 1 §} uint32_t {§ align 2 §} {{component.name}};
            {%- endif %}
          {%- endif %}
        {%- else %}
          {%- if not component.sw_struct_empty %}
            {%- if component.sw_struct_padding > 0 %}
              {§ align 1 §} uint32_t {§ align 2 §} _reserved{{reserved.increment_after()}}_[{{component.sw_struct_padding}}];
            {%- endif %}
            {{register_bank.name}}__{{component.hierarchical_name}} {§ align 2 §} {{component.name}};
          {%- endif %}
        {%- endif %}
      {%- endfor %}
      {%- if file.sw_struct_tail_padding > 0 %}
        {§ align 1 §} uint32_t {§ align 2 §} _reserved{{reserved.increment_after()}}_[{{file.sw_struct_tail_padding}}];
      {%- endif %}
    {%- endfilter %} {#- reindent #}
} _STRUCT_ATTRIBUTES_ {{register_bank.name}}__{{file.hierarchical_name}};
{§ spacing 3 §}
{%- endif %}
{%- endfor %}
{§ spacing 3 §}
{%- endif %}



{§ spacing 3 §}



{# Top-level of the register bank #}
typedef struct {{register_bank.name}}__register_bank {
  {%- filter restructure %}
  {%- filter reindent(1) %}
  {%- set reserved = Accumulator() %}
    {%- for component in register_bank.components %}
      {%- if component.width is defined %}
        {%- if component.is_software_accessible() %}
          {%- if component.sw_struct_padding > 0 %}
            {§ align 1 §} uint32_t {§ align 2 §} _reserved{{reserved.increment_after()}}_[{{component.sw_struct_padding}}];
          {%- endif %}
          {%- if component.fields %}
            {{register_bank.name}}__{{component.hierarchical_name}} {§ align 2 §} {{component.name}};
          {%- else %}
            volatile {% if not component.is_software_writable() %}const{% endif %} {§ align 1 §} uint32_t {§ align 2 §} {{component.name}};
          {%- endif %}
        {%- endif %}
      {%- else %}
        {%- if not component.sw_struct_empty %}
          {%- if component.sw_struct_padding > 0 %}
            {§ align 1 §} uint32_t {§ align 2 §} _reserved{{reserved.increment_after()}}_[{{component.sw_struct_padding}}];
          {%- endif %}
          {{register_bank.name}}__{{component.hierarchical_name}} {§ align 2 §} {{component.name}};
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  {%- endfilter %} {#- reindent #}
  {%- endfilter %} {#- restructure #}
} _STRUCT_ATTRIBUTES_ {{register_bank.name}};



{§ spacing 3 §}



#undef _STRUCT_ATTRIBUTES_

#endif
{% endfilter %} {#- restructure #}
