// ╔═══════════════════════════════════════════════════════════════════════════╗
// ║ Project:     OmniCores-Registers                                          ║
// ║ Author:      Louis Duret-Robert - louisduret@gmail.com                    ║
// ║ Website:     louis-dr.github.io                                           ║
// ║ License:     MIT License                                                  ║{{header_warning_generated_file}}{#
// ╟───────────────────────────────────────────────────────────────────────────╢
// ║ Template:    This is a Jinja2 template using J2GPP and J2GPP extensions.  ║
// ║              It is rendered by the OmniCores-Registers tool.              ║#}
// ╟───────────────────────────────────────────────────────────────────────────╢
// ║ Description: Generated testbench for the register bank to confirm correct ║
// ║              operation.                                                   ║
// ╚═══════════════════════════════════════════════════════════════════════════╝



{% filter restructure %}
module {{register_bank.name}}__register_bank__testbench;
  import {{register_bank.name}}__register_bank__package::*;



  {§ spacing 3 §}



  // Test parameters
  localparam real CLOCK_PERIOD = 10;



  {§ spacing 3 §}



  // Control interface
  logic        control__pclock;
  logic        control__preset_n;
  logic        control__psel;
  logic        control__penable;
  logic        control__pready;
  logic [31:0] control__paddr;
  logic        control__pwrite;
  logic [31:0] control__pwdata;
  logic [31:0] control__prdata;

  // Control clock generation
  initial begin
    control__pclock = 0;
    forever begin
      #(CLOCK_PERIOD/2) control__pclock = ~control__pclock;
    end
  end

  // Write task
  task automatic register_write;
    input logic [31:0] address;
    input logic [31:0] data;
    control__psel    = 1;
    control__penable = 0;
    control__pwrite  = 1;
    control__paddr   = address;
    control__pwdata  = data;
    @(negedge control__pclock);
    control__penable = 1;
    while (!control__pready) @(negedge control__pclock);
    control__psel    =  0;
    control__penable = 'x;
    control__pwrite  = 'x;
    control__paddr   = 'x;
    control__pwdata  = 'x;
  endtask

  // Read task
  logic [31:0] expected_data;
  logic [31:0] register_sw_read_data;
  logic [31:0] register_sw_write_data;
  logic [31:0] field_sw_read_data;
  logic [31:0] register_hw_read_data;
  logic [31:0] register_hw_write_data;
  logic [31:0] field_hw_read_data;
  logic [31:0] field_hw_write_data;
  task automatic register_read;
    input logic [31:0] address;
    control__psel    = 1;
    control__penable = 0;
    control__pwrite  = 0;
    control__paddr   = address;
    @(negedge control__pclock);
    control__penable = 1;
    while (!control__pready) @(negedge control__pclock);
    register_sw_read_data = control__prdata;
    control__psel    =  0;
    control__penable = 'x;
    control__pwrite  = 'x;
    control__paddr   = 'x;
  endtask



  {§ spacing 3 §}



  // Registers
  {%- filter autoformat_signal_definitions %}
  {%  for register in register_bank.registers %}
  {%- if register.fields %} {%- for field in register.fields %}
  {%- if field.is_hardware_readable() %}
  logic {{field.width|arr}} register__{{register.name}}__{{field.name}};
  {%- endif %} {#- field.is_hardware_readable #}
  {%- if field.is_hardware_writable() %}
  logic                     register__{{register.name}}__{{field.name}}__hw_write_enable;
  logic {{field.width|arr}} register__{{register.name}}__{{field.name}}__hw_write_data;
  {%- endif %} {#- field.is_hardware_writable #}
  {%- endfor %} {%- else %} {#- fields #}
  {%- if register.is_hardware_readable() %}
  logic {{register.width|arr}} register__{{register.name}};
  {%- endif %} {#- register.is_hardware_readable #}
  {%- if register.is_hardware_writable() %}
  logic                        register__{{register.name}}__hw_write_enable;
  logic {{register.width|arr}} register__{{register.name}}__hw_write_data;
  {%- endif %} {#- register.is_hardware_writable #}
  {%- endif %} {#- fields #}
  {%- endfor %} {#- registers #}
  {%- endfilter %} {#-autoformat_signal_definitions #}

  // Register bank under test
  {{register_bank.name}}__register_bank {{register_bank.name}}__register_bank__dut (
    {% filter remove_blank_lines -%}
    {% filter remove_last_comma -%}
    {% filter autoformat_instance_ports -%}

    // Control interface
    .control__pclock   ( control__pclock   ),
    .control__preset_n ( control__preset_n ),
    .control__psel     ( control__psel     ),
    .control__penable  ( control__penable  ),
    .control__pready   ( control__pready   ),
    .control__paddr    ( control__paddr    ),
    .control__pwrite   ( control__pwrite   ),
    .control__pwdata   ( control__pwdata   ),
    .control__prdata   ( control__prdata   ),

    // Registers
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.is_hardware_readable() %}
    .register__{{register.name}}__{{field.name}} ( register__{{register.name}}__{{field.name}} ),
    {%- endif %} {#- field.is_hardware_readable #}
    {%- if field.is_hardware_writable() %}
    .register__{{register.name}}__{{field.name}}__hw_write_enable ( register__{{register.name}}__{{field.name}}__hw_write_enable ),
    .register__{{register.name}}__{{field.name}}__hw_write_data ( register__{{register.name}}__{{field.name}}__hw_write_data ),
    {%- endif %} {#- field.is_hardware_writable #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.is_hardware_readable() %}
    .register__{{register.name}} ( register__{{register.name}} ),
    {%- endif %} {#- register.is_hardware_readable #}
    {%- if register.is_hardware_writable() %}
    .register__{{register.name}}__hw_write_enable ( register__{{register.name}}__hw_write_enable ),
    .register__{{register.name}}__hw_write_data ( register__{{register.name}}__hw_write_data ),
    {%- endif %} {#- register.is_hardware_writable #}
    {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}

    {%- endfilter %} {#- autoformat_instance_ports #}
    {%- endfilter %} {#- remove_last_comma #}
    {%- endfilter %} {#- remove_blank_lines #}
  );



  {§ spacing 3 §}



  // Main block
  initial begin
    // Log waves
    $dumpfile("{{register_bank.name}}__register_bank.testbench.vcd");
    $dumpvars(0, {{register_bank.name}}__register_bank__testbench);
    $timeformat(-9, 0, " ns", 0);


    // Initialization
    control__psel = 0;
    {%- filter align %}
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.is_hardware_writable() %}
    register__{{register.name}}__{{field.name}}__hw_write_enable § = 0;
    {%- endif %} {#- field.is_hardware_writable #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.is_hardware_writable() %}
    register__{{register.name}}__hw_write_enable § = 0;
    {%- endif %} {#- register.is_hardware_writable #}
    {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}
    {%- endfilter %} {#- align #}

    // Reset
    control__preset_n = 0;
    @(negedge control__pclock);
    control__preset_n = 1;


    repeat(5) @(negedge control__pclock);


    {§ spacing 2 §}


    // Check 1 : Reset values
    $display("CHECK 1 : Reset values.");
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.reset_value is not none %}
    {§ spacing 1 §}
    expected_data = register__{{register.name}}__{{field.name}}__reset_value;
    {%- if field.is_software_readable() %}
    register_read(register__{{register.name}}__address);
    field_sw_read_data = (register_sw_read_data & register__{{register.name}}__{{field.name}}__mask) >> register__{{register.name}}__{{field.name}}__offset;
    assert(field_sw_read_data === expected_data)
      else $error("[%t] Incorrect reset value read by software access for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable #}
    {%- if field.is_hardware_readable() %}
    field_hw_read_data = register__{{register.name}}__{{field.name}};
    assert(field_hw_read_data === expected_data)
      else $error("[%t] Incorrect reset value read by hardware access for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_hw_read_data);
    {%- endif %} {#- field.is_hardware_readable #}
    {%- if field.is_software_readable() and field.is_hardware_readable() %}
    assert(field_hw_read_data === field_sw_read_data)
      else $error("[%t] Different values read by software and software access for register field '{{register.name}}.{{field.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, field_hw_read_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable and field.is_hardware_readable #}
    {%- endif %} {#- field.reset_value #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.reset_value is not none %}
    {§ spacing 1 §}
    expected_data = register__{{register.name}}__reset_value;
    {%- if register.is_software_readable() %}
    register_read(register__{{register.name}}__address);
    assert(register_sw_read_data === expected_data)
      else $error("[%t] Incorrect reset value read by software access for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable #}
    {%- if register.is_hardware_readable() %}
    register_hw_read_data = register__{{register.name}};
    assert(register_hw_read_data === expected_data)
      else $error("[%t] Incorrect reset value read by hardware access for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_hw_read_data);
    {%- endif %} {#- register.is_hardware_readable #}
    {%- if register.is_software_readable() and register.is_hardware_readable() %}
    assert(register_hw_read_data === register_sw_read_data)
      else $error("[%t] Different values read by software and software access for register '{{register.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, register_hw_read_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable and register.is_hardware_readable #}
    {%- endif %} {#- register.reset_value #}
    {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}

    repeat(5) @(negedge control__pclock);


    {§ spacing 2 §}


    // Check 2 : Software write all ones
    $display("CHECK 2 : Software write all ones.");
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.is_software_writable() %}
    {§ spacing 1 §}
    expected_data = { {{field.width}} {1'b1}};
    register_sw_write_data = expected_data << register__{{register.name}}__{{field.name}}__offset;
    register_write(register__{{register.name}}__address, register_sw_write_data);
    {%- if field.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    field_sw_read_data = (register_sw_read_data & register__{{register.name}}__{{field.name}}__mask) >> register__{{register.name}}__{{field.name}}__offset;
    assert(field_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all ones by software for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable #}
    {%- if field.is_hardware_readable() %}
    field_hw_read_data = register__{{register.name}}__{{field.name}};
    assert(field_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all ones by software for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_hw_read_data);
    {%- endif %} {#- field.is_hardware_readable #}
    {%- if field.is_software_readable() and field.is_hardware_readable() %}
    assert(field_hw_read_data === field_sw_read_data)
      else $error("[%t] Different values read by software and software access for register field '{{register.name}}.{{field.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, field_hw_read_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable and field.is_hardware_readable #}
    {%- endif %} {#- field.is_software_writable #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.is_software_writable() %}
    {§ spacing 1 §}
    expected_data = { {{register.width}} {1'b1}};
    register_sw_write_data = expected_data;
    register_write(register__{{register.name}}__address, register_sw_write_data);
    {%- if register.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    assert(register_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all ones by software for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable #}
    {%- if register.is_hardware_readable() %}
    register_hw_read_data = register__{{register.name}};
    assert(register_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all ones by software for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_hw_read_data);
    {%- endif %} {#- register.is_hardware_readable #}
    {%- if register.is_software_readable() and register.is_hardware_readable() %}
    assert(register_hw_read_data === register_sw_read_data)
      else $error("[%t] Different values read by software and software access for register '{{register.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, register_hw_read_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable and register.is_hardware_readable #}
    {%- endif %} {#- register.is_software_writable #}
    {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}

    repeat(5) @(negedge control__pclock);


    {§ spacing 2 §}


    // Check 3 : Software write all zeros
    $display("CHECK 3 : Software write all zeros.");
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.is_software_writable() %}
    {§ spacing 1 §}
    expected_data = { {{field.width}} {1'b0}};
    register_sw_write_data = expected_data << register__{{register.name}}__{{field.name}}__offset;
    register_write(register__{{register.name}}__address, register_sw_write_data);
    {%- if field.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    field_sw_read_data = (register_sw_read_data & register__{{register.name}}__{{field.name}}__mask) >> register__{{register.name}}__{{field.name}}__offset;
    assert(field_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all zeros by software for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable #}
    {%- if field.is_hardware_readable() %}
    field_hw_read_data = register__{{register.name}}__{{field.name}};
    assert(field_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all zeros by software for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_hw_read_data);
    {%- endif %} {#- field.is_hardware_readable #}
    {%- if field.is_software_readable() and field.is_hardware_readable() %}
    assert(field_hw_read_data === field_sw_read_data)
      else $error("[%t] Different values read by software and software access for register field '{{register.name}}.{{field.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, field_hw_read_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable and field.is_hardware_readable #}
    {%- endif %} {#- field.is_software_writable #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.is_software_writable() %}
    {§ spacing 1 §}
    expected_data = { {{register.width}} {1'b0}};
    register_sw_write_data = expected_data;
    register_write(register__{{register.name}}__address, register_sw_write_data);
    {%- if register.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    assert(register_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all zeros by software for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable #}
    {%- if register.is_hardware_readable() %}
    register_hw_read_data = register__{{register.name}};
    assert(register_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all zeros by software for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_hw_read_data);
    {%- endif %} {#- register.is_hardware_readable #}
    {%- if register.is_software_readable() and register.is_hardware_readable() %}
    assert(register_hw_read_data === register_sw_read_data)
      else $error("[%t] Different values read by software and software access for register '{{register.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, register_hw_read_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable and register.is_hardware_readable #}
    {%- endif %} {#- register.is_software_writable #}
    {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}

    repeat(5) @(negedge control__pclock);


    {§ spacing 2 §}


    // Check 4 : Hardware write all ones
    $display("CHECK 4 : Hardware write all ones.");
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.is_hardware_writable() %}
    {§ spacing 1 §}
    expected_data = { {{field.width}} {1'b1}};
    field_hw_write_data = expected_data;
    register__{{register.name}}__{{field.name}}__hw_write_enable = 1;
    register__{{register.name}}__{{field.name}}__hw_write_data   = field_hw_write_data;
    @(negedge control__pclock);
    register__{{register.name}}__{{field.name}}__hw_write_enable =  0;
    register__{{register.name}}__{{field.name}}__hw_write_data   = 'x;
    {%- if field.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    field_sw_read_data = (register_sw_read_data & register__{{register.name}}__{{field.name}}__mask) >> register__{{register.name}}__{{field.name}}__offset;
    assert(field_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all ones by hardware for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable #}
    {%- if field.is_hardware_readable() %}
    field_hw_read_data = register__{{register.name}}__{{field.name}};
    assert(field_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all ones by hardware for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_hw_read_data);
    {%- endif %} {#- field.is_hardware_readable #}
    {%- if field.is_software_readable() and field.is_hardware_readable() %}
    assert(field_hw_read_data === field_sw_read_data)
      else $error("[%t] Different values read by software and software access for register field '{{register.name}}.{{field.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, field_hw_read_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable and field.is_hardware_readable #}
    {%- endif %} {#- field.is_hardware_writable #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.is_hardware_writable() %}
    {§ spacing 1 §}
    expected_data = { {{register.width}} {1'b1}};
    register_hw_write_data = expected_data;
    register__{{register.name}}__hw_write_enable = 1;
    register__{{register.name}}__hw_write_data   = register_hw_write_data;
    @(negedge control__pclock);
    register__{{register.name}}__hw_write_enable =  0;
    register__{{register.name}}__hw_write_data   = 'x;
    {%- if register.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    assert(register_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all ones by hardware for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable #}
    {%- if register.is_hardware_readable() %}
    register_hw_read_data = register__{{register.name}};
    assert(register_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all ones by hardware for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_hw_read_data);
    {%- endif %} {#- register.is_hardware_readable #}
    {%- if register.is_software_readable() and register.is_hardware_readable() %}
    assert(register_hw_read_data === register_sw_read_data)
      else $error("[%t] Different values read by software and software access for register '{{register.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, register_hw_read_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable and register.is_hardware_readable #}
    {%- endif %} {#- register.is_hardware_writable #}
    {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}

    repeat(5) @(negedge control__pclock);


    {§ spacing 2 §}


    // Check 5 : Hardware write all zeros
    $display("CHECK 5 : Hardware write all zeros.");
    {%- for register in register_bank.registers %}
    {%- if register.fields %} {%- for field in register.fields %}
    {%- if field.is_hardware_writable() %}
    {§ spacing 1 §}
    expected_data = { {{field.width}} {1'b0}};
    field_hw_write_data = expected_data;
    register__{{register.name}}__{{field.name}}__hw_write_enable = 1;
    register__{{register.name}}__{{field.name}}__hw_write_data   = field_hw_write_data;
    @(negedge control__pclock);
    register__{{register.name}}__{{field.name}}__hw_write_enable =  0;
    register__{{register.name}}__{{field.name}}__hw_write_data   = 'x;
    {%- if field.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    field_sw_read_data = (register_sw_read_data & register__{{register.name}}__{{field.name}}__mask) >> register__{{register.name}}__{{field.name}}__offset;
    assert(field_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all zeros by hardware for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable #}
    {%- if field.is_hardware_readable() %}
    field_hw_read_data = register__{{register.name}}__{{field.name}};
    assert(field_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all zeros by hardware for register field '{{register.name}}.{{field.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, field_hw_read_data);
    {%- endif %} {#- field.is_hardware_readable #}
    {%- if field.is_software_readable() and field.is_hardware_readable() %}
    assert(field_hw_read_data === field_sw_read_data)
      else $error("[%t] Different values read by software and software access for register field '{{register.name}}.{{field.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, field_hw_read_data, field_sw_read_data);
    {%- endif %} {#- field.is_software_readable and field.is_hardware_readable #}
    {%- endif %} {#- field.is_hardware_writable #}
    {%- endfor %} {%- else %} {#- fields #}
    {%- if register.is_hardware_writable() %}
    {§ spacing 1 §}
    expected_data = { {{register.width}} {1'b0}};
    register_hw_write_data = expected_data;
    register__{{register.name}}__hw_write_enable = 1;
    register__{{register.name}}__hw_write_data   = register_hw_write_data;
    @(negedge control__pclock);
    register__{{register.name}}__hw_write_enable =  0;
    register__{{register.name}}__hw_write_data   = 'x;
    {%- if register.is_software_readable() %}
    register_read (register__{{register.name}}__address);
    assert(register_sw_read_data === expected_data)
      else $error("[%t] Incorrect value read by software access after writing all zeros by hardware for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable #}
    {%- if register.is_hardware_readable() %}
    register_hw_read_data = register__{{register.name}};
    assert(register_hw_read_data === expected_data)
      else $error("[%t] Incorrect value read by hardware access after writing all zeros by hardware for register '{{register.name}}'. Expected '%0h' but got '%0h' instead.", $realtime, expected_data, register_hw_read_data);
    {%- endif %} {#- register.is_hardware_readable #}
    {%- if register.is_software_readable() and register.is_hardware_readable() %}
    assert(register_hw_read_data === register_sw_read_data)
      else $error("[%t] Different values read by software and software access for register '{{register.name}}'. Hardware reads '%0h' but software read '%0h'.", $realtime, register_hw_read_data, register_sw_read_data);
    {%- endif %} {#- register.is_software_readable and register.is_hardware_readable #}
    {%- endif %} {#- register.is_hardware_writable #}
   {%- endif %} {#- fields #}
    {%- endfor %} {#- registers #}

    repeat(5) @(negedge control__pclock);


    {§ spacing 2 §}


    // End of test
    $finish;
  end



  {§ spacing 3 §}



endmodule
{% endfilter %}
